venv/
__pycache__/
*.pyc
.env
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/embeddings/*
!data/embeddings/.gitkeep
.pytest_cache/
.DS_Store
.env.example
.agents
06webcrawling.ipynb
explicacion_webcrawling.md
guion_video_webcrawling.md
